img {
    max-height: 200px;
    max-width: 200px;
}
.imagecap{
    font-style: italic;
}
body {
    background-color: aquamarine;
}
.center {
    width: 100%;
    margin: auto;
    text-align: center;
}
.center-list {
    width: 50%;
    list-style-position: inside;
    text-align: center;
    display: inline-block;
}
.column {
    float: left;
    width: 25%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}



